<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.shreyansh.pixelwidget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="510cc8df11823140485f30d31b6c57061ce261ba" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyBojfrAyHg35yp3E4unuwfvca8F0O7Qp5o" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBojfrAyHg35yp3E4unuwfvca8F0O7Qp5o" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".UI.MainActivity"/>

        <receiver android:name=".UI.PixelLikeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pixel_like_widget_info" />
        </receiver>

        <activity
            android:name=".UI.ForecastDisplay"
            android:parentActivityName=".UI.MainActivity" />
        <activity android:name=".UI.GoogleAccountsActivity" />

        <receiver android:name=".Util.OnBootBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Util.UpdateWidgetJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="510cc8df11823140485f30d31b6c57061ce261ba" />

        <activity android:name=".UI.SettingsActivity" />
        <activity android:name=".UI.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>